<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Dariusz Rup</title>

    <!-- Styles -->
    <link href="stylesheets/css/core.min.css" rel="stylesheet">
    <link href="stylesheets/css/style.min.css" rel="stylesheet">

</head>

<body>

<!-- Topbar -->
<nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
    <div class="container">

        <div class="topbar-left">
        </div>


        <div class="topbar-right">
            <ul class="topbar-nav nav">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="/images/zad.pdf">Doc</a></li>

            </ul>
        </div>

    </div>
</nav>
<!-- END Topbar -->


<!-- Header -->
<header class="header fadeout header-inverse pb-0 h-fullscreen" style="background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);">
    <canvas class="constellation"></canvas>

    <div class="container">
        <div class="row h-full">
            <div class="col-12 text-center align-self-center">
                <h1 class="fs-50 fw-600 lh-15">Restful APi</h1>
                <br>
                <p class="fs-20">
                <p>Send application/json format</p>
                <B>
                    POST /vl/users/login-form<BR>
                    POST /vl/users/logout<BR>
                    POST /vl/users/register<BR>
                    GET /vl/users/:id<BR>
                    POST /vl/users/:id<BR>
                    DELETE /vl/users/:id<BR><BR>
                    <a href="https://chrome.google.com/webstore/detail/postman/fhbjgbiflinjbdggehcddcbncdddomop" class="btn btn-primary">link</a><BR>
                    <BR></B>
                <p>- aplikacja bazuje na express, mariaDB, testowana na localhost:3000, bez polaczenia z baza danych apka nie startuje</p>
                <p>- node scripts/create_database.js tworzy baze mysql; hostname do połączenia: "localhost", "root", "", port 3306</p>
                <p>- hashuje hasła automatycznie, blokada duplikatów username przy rejestracji, loguje automatycznie po rejestracji</p>
                <p>- zwraca opowiedzi 406 w przypadku innego type requestu niz application/json, w przypadku braku dostępu 401, błędne zapytanie 400</p>
                <p>- z uwagi na czas nie dodałem testów jednostkowych czy orma</p>
                <p>- mam jeszcze napisaną alternatywną wersję w oparciu o MongoDb, proszę o info czy podesłać</p>
                <br>
                <h2>Done</h2>
                <hr>
            </div>
        </div>
</header>
<!-- END Header -->

</body>

</html>
